In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [8]:
from fastai import *
from fastai.tabular import *
from fastai.basics import *
from gzip import *
from json import *

SyntaxError: invalid syntax (<ipython-input-8-704e9007c69c>, line 6)

In [9]:
mkdir %userprofile%\.kaggle

A subdirectory or file C:\Users\yolan\.kaggle already exists.

In [3]:
path = Config.data_path()/'covidweek3'
path.mkdir(exist_ok=True)
path

WindowsPath('C:/Users/yolan/.fastai/data/covidweek3')

In [10]:
! kaggle competitions download -c covid19-global-forecasting-week-3 -p {path}

Downloading covid19-global-forecasting-week-3.zip to C:\Users\yolan\.fastai\data\covidweek3

  0%|          | 0.00/232k [00:00<?, ?B/s]
100%|##########| 232k/232k [00:00<00:00, 1.44MB/s]
100%|##########| 232k/232k [00:00<00:00, 1.44MB/s]

In [16]:
path.ls()

[WindowsPath('C:/Users/yolan/.fastai/data/covidweek3/submission.csv'),
 WindowsPath('C:/Users/yolan/.fastai/data/covidweek3/test.csv'),
 WindowsPath('C:/Users/yolan/.fastai/data/covidweek3/train.csv')]

In [17]:
data = pd.read_csv(path/'train.csv')

In [22]:
data.head()

   Id Province_State Country_Region        Date  ConfirmedCases  Fatalities
0   1            NaN    Afghanistan  2020-01-22             0.0         0.0
1   2            NaN    Afghanistan  2020-01-23             0.0         0.0
2   3            NaN    Afghanistan  2020-01-24             0.0         0.0
3   4            NaN    Afghanistan  2020-01-25             0.0         0.0
4   5            NaN    Afghanistan  2020-01-26             0.0         0.0

In [24]:
data.dtypes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22644 entries, 0 to 22643
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              22644 non-null  int64
 1   Province_State  9620 non-null   object
 2   Country_Region  22644 non-null  object
 3   Date            22644 non-null  object
 4   ConfirmedCases  22644 non-null  float64
 5   Fatalities      22644 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.0+ MB

In [ ]:
TabularList.from_df(df.iloc[19000:22644].copy(), path=path, cat_names=cat_names, cont_names=cont_name)